<mat-card class="custom-card">
  <h2 class="header">Aktuelle Alarme</h2>
  <div class="leftOriented">
    <mat-card-content>
      <div class="alarm-list">
        <div class="column">
          <cdk-virtual-scroll-viewport
            [itemSize]="2 * 7"
            class="example-viewport"
          >
            <div
              *cdkVirtualFor="
                let alarm of alarmList
              "
            >
              <!-- Display alarms in the first column -->
              <!-- Replace with your desired alarm data -->
              <p>Modul: {{ alarm.module_id }}</p>
              <ul>
                <li *ngFor="let error of alarm.errors">
                  <span>Fehlercode: {{ error.code }}</span> - <span>Fehlernachricht: {{ error.msg }}</span>
                </li>
              </ul>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </mat-card-content>
  </div>
</mat-card>
