<mat-card class="custom-card">
  <mat-card-header></mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="container">
        <div class="header">Bandsensor L + R</div>
        <div class="box-container">
          <div class="box">
            <div class="box" [ngClass]="{ 'green': isActive, 'red': !isActive }"></div>
          </div>
          <div class="box">
            <div class="box" [ngClass]="{ 'green': !isActive, 'red': isActive }"></div>
          </div>
        </div>
        <div class="box-label-container">
          <div class="box-label">L</div>
          <div class="box-label">R</div>
        </div>
      </div>
    </div>
    </mat-card-content>
  </mat-card>
