<div style="margin-top: 80px;">

<mat-grid-list cols="3" rowHeight="4:3">
  <mat-grid-tile>
    <app-my-line-chart></app-my-line-chart>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-farbsensor></app-farbsensor>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-bandsensor></app-bandsensor>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <!-- <div class="custom-grid-tile-content"> -->
      <app-alarm-choice></app-alarm-choice>
    <!-- </div> -->
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <!-- <div class="custom-grid-tile-content"> -->
      <app-current-alarms></app-current-alarms>
    <!-- </div> -->
  </mat-grid-tile>
</mat-grid-list>
