<div style="margin-top: 80px;">
Dashboard!

<br>

<button mat-raised-button color="primary" routerLink="/home">
    Home
</button>
<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile><app-my-line-chart></app-my-line-chart></mat-grid-tile>
  <mat-grid-tile><app-farbsensor></app-farbsensor></mat-grid-tile>
  <mat-grid-tile><app-bandsensor></app-bandsensor></mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
</mat-grid-list>
